name: Deploy Frontend to Pages

on:
  push:
    branches:
      - main  # Runs every time you push to the main branch

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./frontend  # This points to your specific folder
            publish_branch: gh-pages  # The "secret" branch for the live site 
            cname: andrewdaitruong.com